<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather Station</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js">

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/5.2.2/mqtt.min.js"
    integrity="sha512-I8gBERqrEkyDqbjHj3aymzBVIPFs85vGSzy26+1P5weHzFp8vfJ8dARJz51n3oQ80DTdYn8MbhUiz5UAW2rMxw=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>

</head>
<script>
  //--------------------------------- Thing Speak ---------------------------------
  const flask_url = "http://127.0.0.1:5000"
  // const url = "192.168.1.189"
  const get_aqi = () => {
    fetch(`${flask_url}/thingspeak/aqi`)
      .then(res => res.json())
      .then(json => {
        console.log(json.feeds)
        plot_aqi(json)
      })
  }
  const formatDate = (dateString) => {
    const date = new Date(dateString);
    // Adjust the date format according to your preference
    // const options = { day: 'numeric', month: 'short', year: 'numeric', hour: 'numeric', minute: 'numeric'};
    const options = { hour: 'numeric', minute: 'numeric' };
    return date.toLocaleDateString('en-US', options);
  };

  const plot_aqi = (data) => {
    const ctx = document.getElementById('aqi')
    const xlabel = data.feeds.map(feed => formatDate(feed.created_at))
    const aqi = data.feeds.map(feed => parseInt(feed.field3))
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: xlabel,
        datasets: [{
          label: "aqi",
          data: aqi,
          // fill: false
        }]
      }
    })
  }

  const get_dewpoint = () => {
    fetch(`${flask_url}/thingspeak/dewpoint`)
      .then(res => res.json())
      .then(json => {
        console.log(json.feeds)
        plot_dewpoint(json)
      })
  }

  const plot_dewpoint = (data) => {
    const ctx = document.getElementById('dp')
    const xlabel = data.feeds.map(feed => formatDate(feed.created_at))
    const aqi = data.feeds.map(feed => parseInt(feed.field3))
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: xlabel,
        datasets: [{
          label: "dew point",
          data: aqi,
          // fill: false
        }]
      }
    })
  }

  get_aqi()
  get_dewpoint()


  //--------------------------------- MQTT ---------------------------------
  const toggle_led = (led_status) => {
    fetch(`${flask_url}/led?status=${led_status}`)
      .then(res => res.json())
      .then(json => {
        console.log(json)
      })
  }

  //--------------------------------- Json Server ---------------------------------
  const report = ()=> {
    fetch(`${flask_url}/report`)
      .then(res => res.json())
      .then(json => {
        console.log(json)
        document.getElementById('temp').innerHTML = `Temperature: ${json[0].temperature}`
        document.getElementById('humid').innerHTML = `Humidity: ${json[0].humidity}`
      })
  }

  report()
</script>

<body>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <center>
        <h1>Weather Station</h1>
        <h3>from NodeMCU</h3>
        <h6 id="temp">Temperature</h6>
        <h6 id="humid">Humidity</h6>
        <button type="button" class="btn btn-success" onclick="report()">Refresh</button>
        <br><br>
        <button type="button" class="btn btn-primary" onclick="toggle_led('1')"> Turn LED On</button>
        <button type="button" class="btn btn-secondary" onclick="toggle_led('0')"> Turn LED Off</button>
        <br><br><br>
      </center>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <!-- <div class="col-6"> -->
      <br><br>
    <canvas id="aqi" height="300"></canvas>
    <br><br>
    <canvas id="dp" height="300"></canvas>
    <!-- </div> -->
  </div>


</body>

</html>
